<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'travel_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>Register</h3>
            {% if messages %}
                {% for message in messages %}
                   <p> {{message}} </p>
                {% endfor %}
            {% endif %}
        <form action='/newpage_reg' method='POST' class='reg_form'>
            {%csrf_token %}
            Name: <input type="text" name="name" style="margin:5px">
            Username:<input type="text" name="username" style="margin:5px">
            Password:<input type="password" name="password" style="margin:5px">
            <p>*Password should be at least 8 characters</p>
            Confirm Password:<input type="password" name="confirm_password" style="margin:5px">
            <input type="submit" value="Register">
        </form>
    <h3>Login Here</h3>
        <form action='/newpage_log' method='POST' class='reg_form'>
            {%csrf_token %}
            Username:<input type="text" name="username" style="margin:5px" >
            Password:<input type="password" name="password" style="margin:5px">
            <input type="submit" value="Login">
        </form>
</body>
</html>